.dim-section {
    margin-top: 50px;
    padding: 20px;
    .picker-box {
        display: flex;
        align-items: center;
        padding: 24px 0;
        margin-left: 32px;
        border-bottom: 1px solid #d6e4ef;
        .sel {
            flex: 1;
        }
        .picker {
            margin-left: 120px;
            color: #666;
            font-size: 30px;
        }
    }
    .upload-video-btn {
        margin: 30px;
        .btn {
            width: 50%;
        }
    }
    .submit-btn {
        margin-top: 150px;
        .st {
            width: 70%;
        }
    }
}