.mine-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    .header {
        padding: 30px;
        margin-top: 130px;
        display: flex;
        align-items: center;
        border-bottom: 1px solid #666;
        .info-img {
            width: 30%;
            .img {
                width: 200px;
                height: 200px;
                border-radius: 50%;
                display: block;
                margin-bottom: 70px;
            }
        }
        .info-desc {
            .info {
                display: block;
            }
            .desc {
                margin-top: 10px;
                font-size: 20px;
            }
        }
        .lgoin-btn {
            margin-left: 180px;
            width: 260px;
        }
    }
    .main {
        padding: 1px;
        .item-list {
            width: 100%;
            margin-top: 8px;
            display: grid;
            grid-template-columns: repeat(3, auto);
            .item {
                height: 260px;
                border: 1px solid #ccc;
            }
        }
    }
}